@font-face {
   			font-family: "Poppins-SemiBold";
   				src: url('Poppins-SemiBold.TTF');
   			}

body{
			background-color: rgba(2,7,17,1);
			}

#Nav {
			background-color: transparent;
			position: absolute;
			top: 0px;
}

.warnaln{
			color: white !important;
}

.navbar-brand{
				font-family: Poppins-SemiBold !important;
				font-size: 30px;
				color: white !important;
	
}
.nav-link{
			color: white !important;
			position: relative;
	  		left: 100px;
	   		font-family: Poppins-SemiBold;
}	

#search {
			position: relative;
        left: 100px;
}


.img1 {

				position: absolute;
				top: 200px;
				left:650px ;

}

.bg1 {
			  
			  background-size: cover;
			  opacity: 0.4000500189604645;
			  position: absolute;
			  filter: blur(15px);
  			-webkit-filter: blur(50px);
			  top: 0px;
			  right: 0px;
}

.isi {
		width: 638px;
		text-align: justify;
		height: 290px;
		font-family: Poppins-SemiBold;
		font-size: 40px;
		position: absolute;
		top: 250px;
		left:120px ;
		color: white;	
		}

#nft {
				background: -webkit-linear-gradient(50deg, #FDAE8F, #FD1C68);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;

}

.text1 {
			font-family: sans-serif;
			font-size: 20px;
			
}

.text2 {
			font-family: Poppins-SemiBold;
			font-size: 40px;
			text-align: center;
			
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-image: linear-gradient(to right, #FDAE8F, #FD1C68) !important;
    color: #070C0E;
    font-weight: bold;
}

#btn1{
		position: absolute;
		top: 650px;
		left:120px ;
}
#btn2 {
		position: absolute;
		top: 650px;
		left:360px ;
}

#isi2 {
		width: 850px;
		height: 40px;
		position: absolute;
		top: 900px;
		left:250px ;
		font-family: Poppins-SemiBold;
		font-size: 50px;
		color: white;
		text-align: center;
		padding-bottom: ;
}

#img {
		position: absolute;
		top: 1100px;
		left:50px ;
}

#img2 {
		position: absolute;
		top: 1px;
		left:400px ;
}

#img3 {
		position: absolute;
		top: 1px;
		left:700px ;
}

#img4 {
		position: absolute;
		top: 1100px;
		left:1000px ;
}

.footer-bantuan {
	top: 600px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
}

.footer-hubungi {
	top: 600px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
}

.footer-profil {
	top: 2200px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
}
.footer-index {
	top: 1500px;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
